body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease, transform 1s ease;
}

.show {
  opacity: 1;
  transform: scale(1);
}
